/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size: cover;
      margin: 0;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header {
  margin: 50px;
  margin-bottom: 200px;
}

main {
  background: #dddddd;
  padding: 50px;
}

aside{
  background: url(../images/testimonial_bg.jpg) no-repeat center top;
   background-size: cover;
   padding: 50px;
}

footer {
  background-color: black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  font-style: bold;
  font-size: 24px;
  font-weight: 2000px;
  color: white;
  margin-left: 40px;
  margin-top: 5px;
}

h2 {
  font-size: 20px;
  font-weight: bolder;
  color: #033048;
}

h3 {
  font-style: bold;
  font-weight: 600;
  font-size: 24px;
  color: #f9e42e;
  text-align: center;
}

.slogan {
  font-size: 24px;
  font-weight: 700px;
  color: white;
  text-align: center;
}

button {
  display: block;
  width: 20%;
  margin: 0 auto;
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #033048;
  background-color: #f9e42e;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  outline: none;
}

.benefitscopy {
  font-size: 13px;
  font-weight: lighter;
}

.liststyle {
  font-size: 13px;
  font-weight: lighter;
}

.testimonial {
  font-size: 18px;
  text-align: center;
  font-style: italic;
  color: white;
  font-weight: lighter;
  margin-bottom: 5px;
}

.by-line {
  font-size: 18px;
  text-align: center;
  color: white;
  margin-top: 5px;
}

.sign-up-now-style {
  font-size: 12px;
  font-weight: 800px;
  background-color: #033048;
  color: white;
  border-radius: 5px;
}

.sign-up-now{
  background-color: #f9e42e;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footeralign {
  background-color: #121212;
  padding-top: 25px;
  padding-bottom: 25px;
}

.copyright-type {
  font-size: 9px;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.logocenter {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  /*margin-left: auto;
  margin-right: auto;*/
}
